body {
    background-color: #ccc;
    color: white;
  }
  
  .container {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    width: 400px;
    background-color: #303333;
    text-align: center;
    border: solid 2px #3786c7;
  }
  .container p {
    font-size: 20px;
  }
  
  .title {
    color: #02e063;
  }
  
  #sumButton {
    margin-bottom: px;
    text-align: inherit;
  }
  button{
    width: 60px;
    height: 30px;
    margin-bottom: 15px;
  }
 #result{
  width: 310px;
  height: 30px;
  font-size: 30px;
  text-align: inherit;
 }
  